{% extends 'layout.html' %}

{% block body %}
  <h1>About Us</h1>
  <p>This website was created by Fumihiro Tamada, a junior Computer Scienece and Physics student at Trinity College, to solve a problem that
     a lot of people do not know when to use their meal swipes because they do not know whether their favorite food is in a particular dining hall or not.
  </p>
  <p>If you want to know more about the author of this page click
  <a href="https://hirojudo.github.io/">here</a>
  </p>
{% endblock %}
